@model List<MovieModel>

<form asp-method="post" asp-action="MovieNight">
    <label for"title1">First Movie Title: </label>
    <input type="text" id="title1" name="title1" />
    <br />

    <label for"title2">Second Movie Title: </label>
    <input type="text" id="title2" name="title2" />
    <br />

    <label for"title1">Third Movie Title: </label>
    <input type="text" id="title3" name="title3" />
    <br />
    <input type="submit" />
</form>

@{
    if(Model != null)
    {
        foreach(MovieModel m in Model)
        {
            if(m != null && m.Response.ToLower() != "false")
            {
                <div>
                    <h2>Title: @m.Title</h2>
                    <img src=@m.Poster />
                    <p>Year: @m.Year</p>
                    <p>Rated: @m.Rated</p>
                    <p>Genre: @m.Genre</p>
                    <p>Director: @m.Director</p>
                    <p>Actors: @m.Actors</p>
                    <p>Plot: @m.Plot</p>
                    <p>Awards: @m.Awards</p>
                </div>
            }
        }        
    }
}